server {
	{%- for network in HADES_UNAUTH_LISTEN %}
	listen {{ network.ip }}:80 default_server;
	listen {{ network.ip }}:443 ssl default_server;
	{%- endfor %}

	ssl_certificate {{ HADES_PORTAL_SSL_CERTIFICATE }};
	ssl_certificate_key {{ HADES_PORTAL_SSL_CERTIFICATE_KEY }};

	# Return a 511 error
	root {{ constants.pkgrunstatedir }}/unauth-http/html;
	error_page 511 /511.html;

	location /511.html {
		internal;
	}

	location / {
		return 511;
	}
}

server {
	{%- for network in HADES_UNAUTH_LISTEN %}
	listen {{ network.ip }}:80;
	listen {{ network.ip }}:443 ssl;
	{%- endfor %}

	ssl_certificate {{ HADES_PORTAL_SSL_CERTIFICATE }};
	ssl_certificate_key {{ HADES_PORTAL_SSL_CERTIFICATE_KEY }};

	root {{ constants.PORTAL_HOME }};

	index index.html index.htm;

	server_name {{ HADES_PORTAL_DOMAIN }};

	location / {
		include uwsgi_params;
		uwsgi_pass unix:{{ constants.PORTAL_UWSGI_SOCKET }};
	}
}
