[submodule "gh-pages"]
	path = docs/build/html
	url = git@github.com:agdsn/hades.git
	branch = gh-pages
[submodule "vendor/arpreq"]
	path = vendor/arpreq
	url = git@github.com:sebschrader/python-arpreq.git
[submodule "docker/isc-kea"]
	path = docker/isc-kea
	url = git@github.com:sebschrader/debian-pkg-isc-kea.git
