include babel.cfg
include LICENSE
include README.md
include setup.cfg
include src/hades/deputy/interface.xml
include src/hades/logging.ini
recursive-include src/hades/portal/assets *
recursive-include src/hades/portal/templates *
