arpreq~=0.3.1
Babel~=2.6.0
celery~=4.4.7
Flask-Babel~=2.0.0
Flask~=2.0.2
Jinja2~=3.0.3
netaddr~=0.7.19
psycopg2-binary~=2.9.2
pydbus~=0.6.0
pygobject~=3.30.4
pyrad~=2.1
pyroute2~=0.5.2
pysnmp~=4.4.6
systemd-python>=234
SQLAlchemy~=1.2.18
