server hades {
	# Listen directives for listening locally
	listen {
		ipaddr = 127.0.0.1
		ipv6addr = ::1
		port = {{ HADES_RADIUS_AUTHENTICATION_PORT }}
		type = auth
		interface = lo
	}

	listen {
		ipaddr = 127.0.0.1
		ipv6addr = ::1
		port = {{ HADES_RADIUS_ACCOUNTING_PORT }}
		type = acct
		interface = lo
	}

	{%- for network in HADES_RADIUS_LISTEN %}
	listen {
		{%- if network.version == 4 %}
		ipaddr = {{ network.ip }}
		{%- else %}
		ipv6addr = {{ network.ip }}
		{%- endif %}
		port = {{ HADES_RADIUS_AUTHENTICATION_PORT }}
		type = auth
		interface = {{ HADES_RADIUS_INTERFACE }}
	#	clients = per_socket_clients
	}

	listen {
		{%- if network.version == 4 %}
		ipaddr = {{ network.ip }}
		{%- else %}
		ipv6addr = {{ network.ip }}
		{%- endif %}
		port = {{ HADES_RADIUS_ACCOUNTING_PORT }}
		type = acct
		interface = {{ HADES_RADIUS_INTERFACE }}
	#	clients = per_socket_clients
	}
	{%- endfor %}


	authorize {
		# Normalize the Called-Station-Id and Calling-Station-Id attributes
		rewrite_called_station_id
		rewrite_calling_station_id
		# Verify that a MAC auth request is legitimate and set the
		# Cleartext-Password to the value of User-Name, if we're doing MAC auth
		handle_mac_auth
		# Normalize the user name, if it looks like a MAC address.
		# Note: This must be done after handle_mac_auth or otherwise
		# handle_mac_auth may set a wrong Cleartext-Password
		rewrite_user_name

		chap
		eap {
			ok = return
			updated = return
		}
		{%- if HADES_RADIUS_DATABASE_FAIL_ACCEPT %}
		redundant {
			sql
			accept
		}
		{%- else %}
		sql
		{%- endif %}
		pap
	}

	authenticate {
		Auth-Type PAP {
			pap
		}

		Auth-Type CHAP {
			chap
		}

		eap
	}

	preacct {
		acct_counters64
		acct_unique
	}

	accounting {
		sql
	}

	post-auth {
		{%- if HADES_RADIUS_DATABASE_FAIL_ACCEPT %}
		redundant {
			sql
			ok
		}
		{%- else %}
		sql
		{%- endif %}
		Post-Auth-Type REJECT {
			{%- if HADES_RADIUS_DATABASE_FAIL_ACCEPT %}
			redundant {
				sql
				ok
			}
			{%- else %}
			sql
			{%- endif %}
			attr_filter.access_reject
		}
	}
}
