{% set namespace = "root" %}
{% include "netns/common/interfaces.j2" with context %}

{% if HADES_CREATE_DUMMY_INTERFACES %}
  {% for interface in [HADES_RADIUS_INTERFACE, HADES_VRRP_INTERFACE, HADES_AUTH_INTERFACE, HADES_UNAUTH_INTERFACE] %}
auto {{ interface }}
iface {{ interface }} inet manual
  pre-up {{ constants.IP }} link add {{ interface }} type dummy
  post-down {{ constants.IP }} link delete {{ interface }}

  {% endfor %}
{% endif %}

auto {{ HADES_VRRP_BRIDGE }}
iface {{ HADES_VRRP_BRIDGE }} inet static inherits bridge
  bridge_ports {{ HADES_VRRP_INTERFACE }}
  address {{ HADES_VRRP_LISTEN_ROOT }}

auto {{ HADES_AUTH_BRIDGE }}
iface {{ HADES_AUTH_BRIDGE }} inet manual inherits bridge
  bridge_ports {{ HADES_AUTH_INTERFACE }}
  # Isolate bridge (no L3 processing)
  up {{ constants.BRIDGE }} vlan delete dev $IFACE vid 1 self

auto {{ HADES_UNAUTH_BRIDGE }}
iface {{ HADES_UNAUTH_BRIDGE }} inet manual inherits bridge
  bridge_ports {{ HADES_UNAUTH_INTERFACE }}
  up {{ constants.SYSCTL }} -w net.ipv4.conf.$IFACE.log_martians=0
  # Isolate bridge (no L3 processing)
  up {{ constants.BRIDGE }} vlan delete dev $IFACE vid 1 self
