# {{ comment }}

iface veth inet manual
  # Create a veth pair
  pre-up {{ constants.IP }} link add name $IFACE type veth peer netns root name {{ namespace }}-$IFACE
  # Enable the root end of the veth pair
  pre-up {{ constants.IP }} -netns root link set {{ namespace }}-$IFACE up
  # Delete the veth pair
  post-down {{ constants.IP }} link delete $IFACE

iface bridge inet manual
  bridge_stp off
  bridge_fd 0
  bridge_maxwait 0
  # Enable VLAN filtering to allow proper isolation
  up echo 1 > /sys/class/net/$IFACE/bridge/vlan_filtering
