server {
	listen {{ HADES_UNAUTH_LISTEN.ip }}:80 default_server;
	listen {{ HADES_UNAUTH_LISTEN.ip }}:443 ssl default_server;

	ssl_certificate {{ HADES_PORTAL_SSL_CERTIFICATE }};
	ssl_certificate_key {{ HADES_PORTAL_SSL_CERTIFICATE_KEY }};

	# Return a 511 error
	root html;
	error_page 511 /511.html;
	return 511;
}

server {
	listen {{ HADES_UNAUTH_LISTEN.ip }}:80;

	# SSL configuration
	listen {{ HADES_UNAUTH_LISTEN.ip }}:443 ssl;

	ssl_certificate {{ HADES_PORTAL_SSL_CERTIFICATE }};
	ssl_certificate_key {{ HADES_PORTAL_SSL_CERTIFICATE_KEY }};

	root {{ HADES_PORTAL_HOME }};

	index index.html index.htm;

	server_name {{ HADES_PORTAL_DOMAIN }};

	location / {
		include uwsgi_params;
		uwsgi_pass unix:{{ constants.PORTAL_UWSGI_SOCKET }};
	}
}
