/hades-agent.service
/hades-auth-alternative-dns.service
/hades-auth-dhcp.service
/hades-auth-pristine-dns.service
/hades-auth-vrrp.service
/hades-cleanup.service
/hades-database.service
/hades-deputy.service
/hades-deputy.dbus-service
/hades-network.service
/hades-radius-vrrp.service
/hades-radius.service
/hades-refresh.service
/hades-unauth-dns.service
/hades-unauth-http.service
/hades-unauth-portal.service
/hades-unauth-vrrp.service
/hades.busconfig
/hades.tmpfile
