/hades-agent.service
/hades-auth-dhcp.service
/hades-auth-dns.service
/hades-auth-vrrp.service
/hades-cleanup.service
/hades-database.service
/hades-network.service
/hades-radius-vrrp.service
/hades-radius.service
/hades-refresh.service
/hades-unauth-dns.service
/hades-unauth-http.service
/hades-unauth-portal.service
/hades-unauth-vrrp.service
/hades.busconfig
/hades.tmpfile
