[Unit]
Description=Hades refresh task (Timer)
Documentation=https://agdsn.github.io/hades/

[Timer]
OnActiveSec=10
OnUnitActiveSec=60

[Install]
WantedBy=hades.target
