# systemd service for managing all Hades services. This service is actually a
# systemd target, but we are using a service since targets cannot be reloaded.

[Unit]
Description=Hades
Documentation=https://agdsn.github.io/hades/

[Service]
Type=oneshot
ExecStart=/bin/true
ExecReload=/bin/true
RemainAfterExit=on

[Install]
WantedBy=multi-user.target
Also=hades-agent.service
Also=hades-auth-alternative-dns.service
Also=hades-auth-dhcp.service
Also=hades-auth-pristine-dns.service
Also=hades-auth-vrrp.service
Also=hades-cleanup.timer
Also=hades-deputy.service
Also=hades-forced-refresh.timer
Also=hades-radius.service
Also=hades-radius-vrrp.service
Also=hades-refresh.timer
Also=hades-unauth-dns.service
Also=hades-unauth-http.service
Also=hades-unauth-vrrp.service
