[Unit]
Description=Hades
Documentation=https://agdsn.github.io/hades/

[Install]
WantedBy=multi-user.target
Also=hades-agent.service
Also=hades-auth-alternative-dns.service
Also=hades-auth-dhcp.service
Also=hades-auth-pristine-dns.service
Also=hades-auth-vrrp.service
Also=hades-cleanup.timer
Also=hades-database.service
Also=hades-deputy.service
Also=hades-network.service
Also=hades-radius.service
Also=hades-radius-vrrp.service
Also=hades-refresh.timer
Also=hades-unauth-dns.service
Also=hades-unauth-http.service
Also=hades-unauth-portal.service
Also=hades-unauth-vrrp.service
