[Unit]
Description=Hades refresh task (Timer)
Documentation=https://agdsn.github.io/hades/
PartOf=hades.service
Before=hades.service

[Timer]
OnActiveSec=60
OnUnitActiveSec=60
