[Unit]
Description=Hades cleanup task (Timer)
Documentation=https://agdsn.github.io/hades/

[Timer]
OnActiveSec=10
OnUnitActiveSec=3600

[Install]
WantedBy=hades.target
