[Unit]
Description=Hades networking
Documentation=https://agdsn.github.io/hades/

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/hades/env
ExecStart=/usr/local/bin/hades networking

[Install]
WantedBy=multi-user.target
