[Unit]
Description=Hades networking
Documentation=https://agdsn.github.io/hades/
#PartOf=hades.target

[Service]
Type=oneshot
RemainAfterExit=yes
SyslogIdentifier=hades-network
EnvironmentFile=/etc/default/hades
ExecStart=/usr/local/bin/control-network.sh start
ExecStop=/usr/local/bin/control-network.sh stop

[Install]
WantedBy=multi-user.target
