[Unit]
Description=Hades VRRP service (keepalived, radius)
Documentation=https://agdsn.github.io/hades/
#PartOf=hades.target
After=hades-networking.service hades-database.service
Wants=hades-networking.service hades-database.service

[Service]
Type=simple
EnvironmentFile=/etc/hades/env
ExecStart=/usr/local/bin/hades radius-vrrp
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=5
