[Unit]
Description=Hades RADIUS service (FreeRADIUS)
Documentation=https://agdsn.github.io/hades/
After=hades-networking.service hades-database.service
Wants=hades-networking.service hades-database.service

[Service]
Type=simple
EnvironmentFile=/etc/hades/env
ExecStart=/usr/local/bin/hades radius
ExecReload=/bin/kill -HUP $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
