[Unit]
Description=Hades refresh task (Timer)
Documentation=https://agdsn.github.io/hades/
PartOf=hades.target

[Timer]
OnActiveSec=10
OnUnitActiveSec=60
