[Unit]
Description=Hades agent (Celery Worker)
Documentation=https://agdsn.github.io/hades/
#PartOf=hades.target
After=hades-networking.service hades-database.service
Wants=hades-networking.service hades-database.service

[Service]
Type=simple
User=hades-agent
Group=hades-agent
SyslogIdentifier=hades-agent
EnvironmentFile=/etc/default/hades
ExecStart=/usr/local/bin/hades agent
Restart=always
RestartSec=5
