[Unit]
Description=Hades http server (nginx)
Documentation=https://agdsn.github.io/hades/
#PartOf=hades.target
After=hades-networking.service hades-unauth-portal.service
Wants=hades-networking.service hades-unauth-portal.service

[Service]
Type=forking
PIDFile=/run/hades/unauth-http/nginx.pid
SyslogIdentifier=hades-unauth-http
EnvironmentFile=/etc/default/hades
ExecStartPre=/usr/bin/python3 -m hades.bin.generate_config nginx /run/hades/unauth-http
ExecStart=/sbin/ip netns exec unauth nginx -c /run/hades/unauth-http/nginx.conf
ExecReload=/usr/bin/python3 -m hades.bin.generate_config nginx /run/hades/unauth-http
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=5
KillSignal=SIGQUIT
KillMode=mixed
SyslogLevel=err
