[Unit]
Description=Hades http server (nginx)
Documentation=https://agdsn.github.io/hades/
#PartOf=hades.target
After=hades-networking.service hades-unauth-portal.service
Wants=hades-networking.service hades-unauth-portal.service

[Service]
Type=simple
EnvironmentFile=/etc/hades/env
ExecStart=/sbin/ip netns exec unauth hades unauth-http
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
KillSignal=SIGQUIT
KillMode=mixed
