[Unit]
Description=Hades refresh task (Service)
Documentation=https://agdsn.github.io/hades/
PartOf=hades.target
After=hades-network.service hades-database.service
Wants=hades-network.service hades-database.service

[Service]
Type=oneshot
User=hades-agent
Group=hades-agent
SyslogIdentifier=hades-refresh
Environment=PGAPPNAME=hades-refresh
ExecStart=/opt/hades/bin/hades-refresh
