[Unit]
Description=Hades database service (PostgreSQL)
Documentation=https://agdsn.github.io/hades/
After=hades-networking.service
Wants=hades-networking.service

[Service]
Type=simple
EnvironmentFile=/etc/hades/env
ExecStart=/usr/local/bin/hades database
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
KillMode=mixed
User=postgres
Group=postgres
RuntimeDirectory=postgresql

[Install]
WantedBy=multi-user.target
