[Unit]
Description=Hades RADIUS service (FreeRADIUS)
Documentation=https://agdsn.github.io/hades/
#PartOf=hades.target
After=hades-networking.service hades-database.service
Wants=hades-networking.service hades-database.service

[Service]
Type=forking
PIDFile=/run/hades/radius/radiusd.pid
SyslogIdentifier=hades-radius
EnvironmentFile=/etc/default/hades
ExecStartPre=/usr/bin/python3 -m hades.bin.generate_config freeradius /run/hades/radius
ExecStartPre=/usr/sbin/freeradius -d /run/hades/radius -Cx -lstdout
ExecStart=/usr/sbin/freeradius -d /run/hades/radius
ExecReload=/usr/bin/python3 -m hades.bin.generate_config freeradius /run/hades/radius
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=5
