[Unit]
Description=Hades agent (Celery Worker)
Documentation=https://agdsn.github.io/hades/
#PartOf=hades.target
After=hades-network.service hades-database.service
Wants=hades-network.service hades-database.service

[Service]
Type=simple
PIDFile=/run/hades/agent/worker.pid
KillMode=mixed
User=hades-agent
Group=hades-agent
SyslogIdentifier=hades-agent
Environment=PGAPPNAME=hades-agent
EnvironmentFile=/etc/default/hades
ExecStart=/usr/local/bin/hades-agent --pidfile=/run/hades/agent/worker.pid
Restart=always
RestartSec=5
