[Unit]
Description=Hades VRRP service for auth services (keepalived)
Documentation=https://agdsn.github.io/hades/
#PartOf=hades.target
After=hades-network.service
Wants=hades-network.service

[Service]
Type=forking
PIDFile=/run/hades/auth-vrrp/keepalived.pid
KillMode=process
SyslogIdentifier=hades-auth-vrrp
EnvironmentFile=/etc/default/hades
ExecStartPre=/usr/bin/python3 -m hades.bin.generate_config auth-keepalived.conf.j2 /run/hades/auth-vrrp/keepalived.conf
ExecStart=/sbin/ip netns exec auth /usr/sbin/keepalived --log-console --vrrp --use-file=/run/hades/auth-vrrp/keepalived.conf --pid=/run/hades/auth-vrrp/keepalived.pid --vrrp_pid=/run/hades/auth-vrrp/keepalived-vrrp.pid
ExecReload=/usr/bin/python3 -m hades.bin.generate_config auth-keepalived.conf.j2 /run/hades/auth-vrrp/keepalived.conf
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=5
