[Unit]
Description=Hades VRRP service (keepalived, auth)
Documentation=https://agdsn.github.io/hades/
PartOf=hades.target
After=hades-networking.service
Wants=hades-networking.service

[Service]
Type=simple
EnvironmentFile=/etc/hades/env
ExecStart=/sbin/ip netns exec auth hades auth-vrrp
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
