[Unit]
Description=Hades DHCP service for authenticated users (dnsmasq)
Documentation=https://agdsn.github.io/hades/
#PartOf=hades.target
After=hades-networking.service
Wants=hades-networking.service

[Service]
Type=simple
EnvironmentFile=/etc/hades/env
ExecStart=/sbin/ip netns exec auth hades auth-dhcp
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=5
