<html>
	<head>
		<title>Network Access Blocked</title>
		<meta http-equiv="refresh" content="0; url={{ HADES_PORTAL_URL }}">
	</head>
	<body>
		<p><a href="{{ HADES_PORTAL_URL }}">Find out</a> why you have been blocked.</p>
	</body>
</html>
