# Log to stderr
log-facility=-

# Disable DNS
port=0

keep-in-foreground
user={{ constants.AUTH_DHCP_USER }}
group={{ constants.AUTH_DHCP_GROUP }}
pid-file={{ constants.AUTH_DHCP_PID_FILE }}

interface=eth2
except-interface=lo
{% for network in HADES_AUTH_LISTEN %}
listen-address={{ network.ip }}
{% endfor %}

# Bind to listed interfaces only
bind-dynamic

# Enable authoritative DHCP
dhcp-authoritative

# Define DHCP ranges
{% for name, network in HADES_USER_NETWORKS.items() %}
dhcp-range=set:{{ name }},{{ network.network }},static,{{ network.netmask }},{{ network.broadcast }},{{ HADES_AUTH_DHCP_LEASE_LIFETIME.total_seconds()|int }}s
dhcp-option=tag:{{ name }},option:router,{{ network.ip }}
{% endfor %}
dhcp-option=option:dns-server,{{ HADES_AUTH_LISTEN[0].ip }}
dhcp-option=option:domain-name,{{ HADES_AUTH_DHCP_DOMAIN }}
dhcp-option=option:T1,{{ HADES_AUTH_DHCP_LEASE_RENEW_TIMER.total_seconds()|int }}
dhcp-option=option:T2,{{ HADES_AUTH_DHCP_LEASE_REBIND_TIMER.total_seconds()|int }}
# Instruct Microsoft Windows Clients to send DHCPRELEASE on shutdown
# https://msdn.microsoft.com/en-us/library/cc227278.aspx
dhcp-option=vendor:MSFT,2,1i

# Ensure lease max is high enough (default is 1000)
dhcp-lease-max={{ HADES_USER_NETWORKS.values()|map('length')|sum }}

# Set DHCP lease and hosts file
dhcp-leasefile={{ constants.AUTH_DHCP_LEASE_FILE }}
dhcp-hostsfile={{ constants.AUTH_DHCP_HOSTS_FILE }}

leasefile-ro
