# Log to stderr
log-facility=-

keep-in-foreground
user={{ constants.UNAUTH_DNS_USER }}
group={{ constants.UNAUTH_DNS_GROUP }}
pid-file={{ constants.UNAUTH_DNS_PID_FILE }}

interface=eth2
listen-address={{ HADES_UNAUTH_LISTEN.ip }}
# Explicitly bind to the interfaces specified above, otherwise any other DNS
# server running on the same machine won't be able to listen on DNS port
bind-interfaces

# Don't read /etc/hosts
no-hosts

# Do not randomize the outbound query port and use a single OS-assigned port
# instead. Except for whitelisted domains, the unauth dnsmasq instance won't
# query any other servers at all.
query-port=0

# DNS-Record for the Captive Portal
host-record={{ HADES_PORTAL_DOMAIN }},{{ HADES_UNAUTH_LISTEN.ip }}

# Return the expected Windows NCSI DNS address
# See https://technet.microsoft.com/en-us/library/cc766017%28v=ws.10%29.aspx
address=/dns.msftncsi.com/131.107.255.255

# Wildcard A-Record to redirect all domains to the captive portal
address=/#/{{ HADES_UNAUTH_LISTEN.ip }}

{% if HADES_UNAUTH_WHITELIST_DNS -%}
# Resolve the whitelisted domains by using the default resolver.
# Note that this also applies to all subdomains.
server=/{{ HADES_UNAUTH_WHITELIST_DNS|join('/') }}/#

# Additional write the resolved IP addresses of all whitelisted domain entries
# to the ipset. The netfilter rules will allow packets where the destination is
# a member of this ipset.
ipset=/{{ HADES_UNAUTH_WHITELIST_DNS|join('/') }}/{{ HADES_UNAUTH_WHITELIST_IPSET }}
{%- endif %}

# Domain of DHCP hosts
dhcp-range={{ netaddr.IPAddress(HADES_UNAUTH_DHCP_RANGE.first) }},{{ netaddr.IPAddress(HADES_UNAUTH_DHCP_RANGE.last) }},{{ HADES_UNAUTH_DHCP_LEASE_TIME.total_seconds()|int }}

# Enable authoritative DHCP mode to NAK any unknown DHCP requests
dhcp-authoritative

# ignore the host names send in the DHCP request message
dhcp-ignore-names

dhcp-leasefile={{ constants.UNAUTH_DHCP_LEASE_FILE }}

# Set DHCP-Option 160 (RFC 7710)
dhcp-option=160,"{{ HADES_PORTAL_URL }}"
