# {{ comment }}

{% block remote_control %}
remote-control:
    control-enable: no
{% endblock %}

{% block server %}
server:
    directory: "{{ constants.AUTH_DNS_HOME }}"
    username: {{ constants.AUTH_DNS_USER }}
    do-daemonize: no
    use-systemd: yes
    interface: 127.0.0.1
    {% for network in HADES_AUTH_LISTEN %}
    interface: {{ network.ip }}
    {% endfor %}
    outgoing-interface: {{ HADES_NETNS_AUTH_LISTEN.ip }}
    {% for network in HADES_USER_NETWORKS.values() %}
    access-control: {{ network.cidr }} allow
    {% endfor %}
    auto-trust-anchor-file: "{{ constants.AUTH_DNS_TRUST_ANCHOR_FILE }}"
    root-hints: "{{ constants.AUTH_DNS_ROOT_HINTS }}"
    # Log to stderr
    logfile: ""
    log-time-ascii: yes
    outgoing-num-tcp: 100
    incoming-num-tcp: 100
{% endblock %}
