[uwsgi]
safe-pidfile2 = {{ constants.PORTAL_UWSGI_PID_FILE }}
need-plugin = python3
uwsgi-socket = {{ constants.PORTAL_UWSGI_SOCKET }}
need-app = true
reaper = true
chdir = {{ constants.PORTAL_HOME }}
{%- if constants.venvdir %}
venv = {{ constants.venvdir }}
{%- endif %}
die-on-term = false
module = hades.bin.portal
master = true
workers = {{ HADES_PORTAL_UWSGI_WORKERS }}
thunder-lock = true
