[Unit]
Description=Remount /sys rw
DefaultDependencies=no
Before=sysinit.target
ConditionPathExists=/sys
ConditionCapability=CAP_SYS_ADMIN

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/mount -o remount,rw /sys
