<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ _("Captive Portal for unauthenticated and unauthorized users") }}">
    <meta name="author" content="Arbeitsgemeinschaft Dresdner Studentennetz (AG DSN)">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>{{ _("AG DSN Captive Portal") }}</title>

    <link href="{{ url_for('static', filename='normalize.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
  </head>
  <body>
    <div id="shadow"></div>
    <header>
      <img style="height: 8ex" alt="Arbeitsgemeinschaft Dresdner Studentennetz" src="{{ url_for('static', filename='logo.png') }}"/>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
    <footer>
      <p>Arbeitsgemeinschaft Dresdner Studentennetz (AG DSN)</p>
      <ul class="contact">
        {% for name, address in config["HADES_CONTACT_ADDRESSES"].items() %}
          <li>{{ name }}: <a href="mailto:{{ address }}">{{ address }}</a></li>
        {% endfor %}
      </ul>
    </footer>
  </body>
</html>
