{% extends 'base.html' %}

{% block content %}
  <h1>{{ _("We are very sorry ☹") }}</h1>
  {% if reasons %}
    <p>{{ _("We have to deny you from accessing the network for the following reasons:") }}</p>
      <ul>
        {% for reason in reasons %}
          <li>{{ reason }}</li>
        {% endfor %}
      </ul>
  {% else %}
    <p>{{
        _("Your account status is good. Your network connectivity should "
          "work in a few minutes. "
          "If does not work in a few minutes, try restarting your devices "
          "(Router, Laptop). "
          "If you are still receiving this message, contact our support.") }}</p>
  {% endif %}
  {% if show_mac %}
    <p>{{ _("Your MAC address is {}").format(mac) }}</p>
  {% endif %}
{% endblock %}
