server {
	listen {{ HADES_UNAUTH_LISTEN.ip }}:80 default_server;
	listen {{ HADES_UNAUTH_LISTEN.ip }}:443 ssl default_server;

	ssl_certificate {{ HADES_PORTAL_SSL_CERTIFICATE }};
	ssl_certificate_key {{ HADES_PORTAL_SSL_CERTIFICATE_KEY }};

	# Return 302 for clients using HTTP/1.0
	if ($server_protocol = 'HTTP/1.0') {
		return 302 {{ HADES_PORTAL_URL }};
	}
	# Return the more appropriate 303 status code for HTTP/1.1 and others
	if ($server_protocol != 'HTTP/1.0') {
		return 303 {{ HADES_PORTAL_URL }};
	}
}

server {
	listen {{ HADES_UNAUTH_LISTEN.ip }}:80;

	# SSL configuration
	listen {{ HADES_UNAUTH_LISTEN.ip }}:443 ssl;

	ssl_certificate {{ HADES_PORTAL_SSL_CERTIFICATE }};
	ssl_certificate_key {{ HADES_PORTAL_SSL_CERTIFICATE_KEY }};

	root {{ HADES_PORTAL_HOME }};

	index index.html index.htm;

	server_name {{ HADES_PORTAL_DOMAIN }};

	location / {
		include uwsgi_params;
		uwsgi_pass unix:{{ HADES_PORTAL_UWSGI_SOCKET }};
	}
}
