[supervisord]
nodaemon=true
logfile=/dev/stdout
logfile_maxbytes=0
logfile_backups=0

{% for network in HADES_REGULAR_NETWORKS.values() %}
[program:arping-{{ network.ip }}]
stdout_logfile=/dev/stdout
stdout_logfile_backups=0
stdout_logfile_maxbytes=0
stderr_logfile=/dev/stderr
stderr_logfile_backups=0
stderr_logfile_maxbytes=0
# Please note:
# There are two programs called arping, one developed by Thomas Habets and
# one that's part of iputils with slightly different options.
# Most distributions ship the latter, Debian ships both.
# The following commands works for Habet's implementation
command=arping -q -U -i {{ HADES_UNAUTH_INTERFACE }} -S {{ network.ip }} {{ network.ip }}
# This command would be for
#command=arping -q -U -I {{ HADES_UNAUTH_INTERFACE }} -s {{ network.ip }} {{ network.ip }}
{% endfor %}
