*nat
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
-A PREROUTING -i {{ HADES_UNAUTH_INTERFACE }} -p udp -m udp --dport 53 -j DNAT --to-destination {{ HADES_UNAUTH_LISTEN.ip }}
-A PREROUTING -i {{ HADES_UNAUTH_INTERFACE }} -p tcp -m tcp --dport 80 -j DNAT --to-destination {{ HADES_UNAUTH_LISTEN.ip }}
-A PREROUTING -i {{ HADES_UNAUTH_INTERFACE }} -p tcp -m tcp --dport 443 -j DNAT --to-destination {{ HADES_UNAUTH_LISTEN.ip }}
COMMIT
*filter
:INPUT ACCEPT [0:0]
:FORWARD DROP [0:0]
:OUTPUT ACCEPT [0:0]
:unauth - [0:0]
-A INPUT -m conntrack --ctstate RELATED,ESTABLISHED,SNAT,DNAT -j ACCEPT
-A INPUT -i {{ HADES_UNAUTH_INTERFACE }} -p icmp -j ACCEPT
-A INPUT -i {{ HADES_UNAUTH_INTERFACE }} -p udp -m udp --dport 53 -j ACCEPT
-A INPUT -i {{ HADES_UNAUTH_INTERFACE }} -p udp -m udp --dport 67 -j ACCEPT
-A INPUT -i {{ HADES_UNAUTH_INTERFACE }} -p tcp -m tcp --dport 80 -j ACCEPT
-A INPUT -i {{ HADES_UNAUTH_INTERFACE }} -p tcp -m tcp --dport 443 -j ACCEPT
-A INPUT -i {{ HADES_UNAUTH_INTERFACE }} -p tcp -m tcp -j REJECT --reject-with tcp-reset
-A INPUT -i {{ HADES_UNAUTH_INTERFACE }} -j REJECT --reject-with icmp-admin-prohibited
-A FORWARD -j REJECT --reject-with icmp-admin-prohibited
COMMIT
