*nat
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
-A POSTROUTING -s {{  HADES_NETNS_AUTH_LISTEN.ip  }} ! -d {{  HADES_NETNS_MAIN_AUTH_LISTEN.ip  }} -j MASQUERADE
-A POSTROUTING -s {{ HADES_NETNS_UNAUTH_LISTEN.ip }} ! -d {{ HADES_NETNS_MAIN_UNAUTH_LISTEN.ip }} -j MASQUERADE
COMMIT
*filter
:INPUT DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT ACCEPT [0:0]
-A INPUT -m conntrack --ctstate RELATED,ESTABLISHED,SNAT,DNAT -j ACCEPT
-A INPUT -i lo -j ACCEPT
-A INPUT -p icmp -j ACCEPT
-A INPUT -i {{ HADES_VRRP_BRIDGE }} -p vrrp -j ACCEPT
-A INPUT -i {{ HADES_RADIUS_INTERFACE }} -p udp -m udp --dport {{ HADES_RADIUS_AUTHENTICATION_PORT }} -j ACCEPT
-A INPUT -i {{ HADES_RADIUS_INTERFACE }} -p udp -m udp --dport {{ HADES_RADIUS_ACCOUNTING_PORT     }} -j ACCEPT
-A INPUT -p tcp -m tcp -j REJECT --reject-with tcp-reset
-A INPUT -j REJECT --reject-with icmp-admin-prohibited
-A FORWARD -m conntrack --ctstate RELATED,ESTABLISHED,SNAT,DNAT -j ACCEPT
-A FORWARD -s {{  HADES_NETNS_AUTH_LISTEN.ip  }} -j ACCEPT
-A FORWARD -s {{ HADES_NETNS_UNAUTH_LISTEN.ip }} -j ACCEPT
-A FORWARD -j REJECT --reject-with icmp-admin-prohibited
COMMIT
*mangle
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
COMMIT
