global_defs {
    notification_email {
        root@agdsn
    }
    notification_email_from {{ HADES_SITE_NODE_ID }}@agdsn
    router_id {{ HADES_SITE_NAME }}
}

static_ipaddress {
    {{ HADES_VRRP_LISTEN_RADIUS }} dev {{ HADES_VRRP_BRIDGE }}
}

vrrp_script check_db {
    script "python3 -m hades.common.check_db"
    interval 5
}

vrrp_instance hades {
    {%- if HADES_INITIAL_MASTER %}
    state MASTER
    {%- else %}
    state BACKUP
    {%- endif %}
    preempt_delay {{ HADES_VRRP_PREEMPTION_DELAY.total_seconds()|int }}

    interface {{ HADES_VRRP_BRIDGE }}
    track_interface {
        {{ HADES_RADIUS_INTERFACE }}
    }
    track_script {
        check_db
    }

    mcast_src_ip {{ HADES_VRRP_LISTEN_RADIUS.ip }}

    garp_master_refresh {{ HADES_GRATUITOUS_ARP_INTERVAL.total_seconds()|int }}
    garp_master_refresh_repeat 1

    virtual_router_id {{ HADES_VRRP_VIRTUAL_ROUTER_ID_RADIUS }}
    advert_int {{ HADES_VRRP_ADVERTISEMENT_INTERVAL.total_seconds()|int }}

    priority {{ HADES_PRIORITY }}

    authentication {
        auth_type PASS
        auth_pass {{ HADES_VRRP_PASSWORD }}
    }

    virtual_ipaddress {
        {{ HADES_RADIUS_LISTEN }} dev {{ HADES_RADIUS_INTERFACE }}
    }
}
