d {{ HADES_POSTGRESQL_SOCKET }} 0755 {{ HADES_POSTGRESQL_USER }} {{ HADES_POSTGRESQL_USER }}
d {{ HADES_AUTH_DNSMASQ_SIGNAL_SOCKET|dirname }} 0755 root root
d {{ HADES_PORTAL_UWSGI_SOCKET|dirname }} 0755 {{ HADES_PORTAL_USER }} {{ HADES_PORTAL_USER}}
d /run/hades/vrrp 0755 root root
