d /run/hades/agent 2755 {{ HADES_AGENT_USER }} {{ HADES_AGENT_USER }}
d /run/hades/auth-dhcp 2755 {{ HADES_AUTH_DNSMASQ_USER }} {{ HADES_AUTH_DNSMASQ_GROUP }}
d /run/hades/auth-dns 2755 unbound unbound
d /run/hades/auth-vrrp 0755 root root
d /run/hades/database 2755 {{ HADES_POSTGRESQL_USER }} {{ HADES_POSTGRESQL_GROUP }}
d /run/hades/radius 2755 {{ HADES_RADIUS_USER }} {{ HADES_RADIUS_GROUP }}
d /run/hades/radius-vrrp 0755 root root
d /run/hades/unauth-dns 2755 {{ HADES_UNAUTH_DNSMASQ_USER }} {{ HADES_UNAUTH_DNSMASQ_GROUP }}
d /run/hades/unauth-http 2755 {{ HADES_PORTAL_USER }} {{ HADES_PORTAL_GROUP }}
d /run/hades/unauth-portal 2755 {{ HADES_PORTAL_USER }} {{ HADES_PORTAL_GROUP }}
d /run/hades/unauth-vrrp 0755 root root
