interface={{ HADES_UNAUTH_INTERFACE }}
# Do not listen on the loopback interface
# dnsmasq always adds the loopback interface if not told otherwise
except-interface=lo
listen-address={{ HADES_UNAUTH_LISTEN.ip }}
# Explicitly bind to the interfaces specified above, otherwise any other DNS
# server running on the same machine won't be able to listen on DNS port
bind-interfaces

# Don't read /etc/hosts /etc/resolv.conf or poll these files for changes
no-hosts
no-resolv
no-poll

# DNS-Record for the Captive Portal
host-record={{ HADES_PORTAL_DOMAIN }},{{ HADES_UNAUTH_LISTEN.ip }}

# Return the expected Windows NCSI DNS address
# See https://technet.microsoft.com/en-us/library/cc766017%28v=ws.10%29.aspx
address=/dns.msftncsi.com/131.107.255.255

# Wildcard A-Record to redirect all domains to the captive portal
address=/#/{{ HADES_UNAUTH_LISTEN.ip }}

# Domain of DHCP hosts
dhcp-range={{ netaddr.IPAddress(HADES_UNAUTH_DHCP_RANGE.first) }},{{ netaddr.IPAddress(HADES_UNAUTH_DHCP_RANGE.last) }},{{ HADES_UNAUTH_DHCP_LEASE_TIME.seconds }}

# Enable authoritative DHCP mode to NAK any unknown DHCP requests
dhcp-authoritative

# ignore the host names send in the DHCP request message
dhcp-ignore-names
