# Log to stderr
log-facility=-

interface={{ HADES_UNAUTH_INTERFACE }}
listen-address={{ HADES_UNAUTH_LISTEN.ip }}
# Explicitly bind to the interfaces specified above, otherwise any other DNS
# server running on the same machine won't be able to listen on DNS port
bind-interfaces

# Don't read /etc/hosts
no-hosts

# DNS-Record for the Captive Portal
host-record={{ HADES_PORTAL_DOMAIN }},{{ HADES_UNAUTH_LISTEN.ip }}

# Return the expected Windows NCSI DNS address
# See https://technet.microsoft.com/en-us/library/cc766017%28v=ws.10%29.aspx
address=/dns.msftncsi.com/131.107.255.255

# Wildcard A-Record to redirect all domains to the captive portal
address=/#/{{ HADES_UNAUTH_LISTEN.ip }}

# Resolve the whitelisted domains by using the default resolver.
# Note that this also applies to all subdomains.
server=
{%- for hostname in HADES_UNAUTH_WHITELIST_DNS -%}
/{{ hostname }}
{%- endfor -%}
/#

# Additional write the resolved IP addresses of all whitelisted domain entries
# to the ipset. The netfilter rules will allow packets where the destination is
# a member of this ipset.
ipset=
{%- for hostname in HADES_UNAUTH_WHITELIST_DNS -%}
/{{ hostname }}
{%- endfor -%}
/{{ HADES_UNAUTH_WHITELIST_IPSET }}

# Domain of DHCP hosts
dhcp-range={{ netaddr.IPAddress(HADES_UNAUTH_DHCP_RANGE.first) }},{{ netaddr.IPAddress(HADES_UNAUTH_DHCP_RANGE.last) }},{{ HADES_UNAUTH_DHCP_LEASE_TIME.total_seconds()|int }}

# Enable authoritative DHCP mode to NAK any unknown DHCP requests
dhcp-authoritative

# ignore the host names send in the DHCP request message
dhcp-ignore-names
