server:
    directory: "/etc/unbound"
    username: unbound
    do-daemonize: no
    pidfile: "/run/unbound.pid"
    interface: 127.0.0.1
    interface: {{ HADES_AUTH_LISTEN.ip }}
    {%- for name, network in HADES_USER_NETWORKS.items() %}
    access-control: {{ network }} allow
    {%- endfor %}
    auto-trust-anchor-file: "/var/lib/unbound/root.key"
    root-hints: "/usr/share/dns/root.hints"
    # Log to stderr
    logfile: ""
    log-time-ascii: yes
    outgoing-num-tcp: 100
    incoming-num-tcp: 100

