[uwsgi]
immediate-gid = {{ HADES_PORTAL_GROUP }}
immediate-uid = {{ HADES_PORTAL_USER }}
safe-pidfile2 = /run/hades/unauth-portal/uwsgi.pid
need-plugin = python3
uwsgi-socket = {{ HADES_PORTAL_UWSGI_SOCKET }}
need-app = true
reaper = true
chdir = {{ HADES_PORTAL_HOME }}
die-on-term = false
module = hades.bin.portal
master = true
workers = {{ HADES_PORTAL_UWSGI_WORKERS }}
thunder-lock = true
