# {{ comment }}

*nat
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
{% if HADES_AUTH_DNS_ALTERNATIVE_ZONES %}
{% for listen_address in HADES_AUTH_LISTEN %}
-A PREROUTING -m set -d {{ listen_address.ip }} --match-set {{ HADES_AUTH_DNS_ALTERNATIVE_IPSET }} src -p tcp -m tcp --dport 53 -j REDIRECT --to-port 9053
-A PREROUTING -m set -d {{ listen_address.ip }} --match-set {{ HADES_AUTH_DNS_ALTERNATIVE_IPSET }} src -p udp -m udp --dport 53 -j REDIRECT --to-port 9053
{% endfor %}
{% endif %}
COMMIT
*filter
:INPUT DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT ACCEPT [0:0]
-A INPUT -m conntrack --ctstate RELATED,ESTABLISHED,SNAT,DNAT -j ACCEPT
-A INPUT -i lo -j ACCEPT
-A INPUT -p icmp -j ACCEPT
-A INPUT -i eth1 -p vrrp -j ACCEPT
{% for port in HADES_AUTH_ALLOWED_TCP_PORTS %}
-A INPUT -i eth2 -p tcp -m tcp --dport {{ port }} -j ACCEPT
{% endfor %}
{% for port in HADES_AUTH_ALLOWED_UDP_PORTS %}
-A INPUT -i eth2 -p udp -m udp --dport {{ port }} -j ACCEPT
{% endfor %}
-A INPUT -p tcp -m tcp -j REJECT --reject-with tcp-reset
-A INPUT -j REJECT --reject-with icmp-admin-prohibited
-A FORWARD -j REJECT --reject-with icmp-admin-prohibited
COMMIT
*mangle
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
COMMIT
